
@{
    ViewData["Title"] = "Add Clinic";
}

<center><h2>@ViewBag.Title</h2></center>
<p>Please enter the relevant clinic information into the fields below.</p>

<form method='post'>
    <label><strong><p class="">Clinic Name:</p></strong> <input type='text' name='clinicName' required></label><br /><br />
    <label><strong><p class="">Short Name (4 letters):</p></strong> <input type='text' name='shortName' required></label><br /><br />
    <label><strong><p class="">Address:</p></strong> <input type='text' name='clinicAddress' required></label><br /><br />
    <label><strong><p class="">ZIP:</p></strong><input type='text' name='clinicZIP' required></label><br /><br />
    <label><strong><p class="">Email Address:</p></strong> <input type='text' name='clinicEmail' required></label><br /><br />
    <label><strong><p class="">Phone Number:</p></strong> <input type='text' name='clinicPhone' required></label><br /><br />
    <label><strong><p class="">Insurance Required:</p></strong> <input type='text' name='insurance' required></label><br /><br />
    <label><strong><p class="">Income (Minimum) Requirement:</p></strong> <input type='number' name='minReq' required></label><br /><br />
    <label><strong><p class="">Income (Maximum) Requirement:</p></strong> <input type='number' name='maxReq' required></label><br /><br />
    <p><br /></p>

    <input type='button' class="btn btn-primary" value="Cancel" onclick="window.location.href ='@Url.Action("AdminOptions", "Home")';" />&nbsp;&nbsp;
    <input type='button' class="btn btn-primary" value='Add Clinic' onclick="window.location.href ='@Url.Action("ClinicAdded", "AdminOptions")';" />

    <p><br /></p><p><br /></p>



</form>
<p><br /></p>
