
@{
    ViewData["Title"] = "ClinicAdded";
}

<h2>Clinic Added</h2>

<p>The Clinic was added successfully to the database!</p>
<p><br /></p>
<input type='button' class="btn btn-primary" value="Back" onclick="window.location.href ='@Url.Action("AdminOptions", "Home")';" />&nbsp;&nbsp;
<input type='button' class="btn btn-primary" value="Logout" onclick="window.location.href ='@Url.Action("Logout", "Home")';" />
<p><br /></p><p><br /></p>