

@{
    ViewBag.Title = "View Demographics";
}
<h2>@ViewBag.Title</h2>
<h3>A placeholder for the View Demographics page.</h3>
<p><br /></p>

<input type='button' class="btn btn-primary" value="Back" onclick="window.location.href ='@Url.Action("AdminOptions", "Home")';" />
<input type='button' class="btn btn-primary" value="Logout" onclick="window.location.href ='@Url.Action("Index", "Home")';" />
