body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100vh;
}

.rightside {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: red;

}
.leftside {
    float:left;
    width: 70%;
    padding:10px;
    background-color: yellow;

}
.rowtable:after {
    content: "";
    background-color: red;
    display: table;
    clear: both;
}

table {

    table-layout:fixed;
    border:1px black;
}
