@model  IEnumerable<ClinicV2.Models.clinicModel>
            
@{
    ViewBag.Title = "GetRequirement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<body>

    <div>
        <input type="checkbox" id="18+" onclick="Getnewlist()">Age <br />
        <input type="checkbox" id="Housing" onclick="Getnewlist()"> Housing<br />
        <input type="checkbox" id="Income" onclick="displayClinic()"> Income<br />
        <input type="checkbox" id="Insurance" onclick="Getnewlist()"> Insurance<br />
        <div>
            <table>
                <tr id="Clinic">
                </tr>
                @foreach (var item in Model)
                {

                    <tr id="@item.Name" style="display:none">
                        <td><input type="checkbox" name="clinicName" value="@item.Name"> @Html.DisplayFor(modelItem => item.Name)</td>
                    </tr>
                }
            </table>

        </div>
    </div>
</body>


