

@{



    ViewBag.Title = "AboutPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css">
}

<h1>MASS Free Clinic</h1>

<h2>Welcome to MASS Clinic</h2>

<p>MASS Clinic provides free, volunteer-based care management to the uninsured population 
    of Duval County. By collaborating with local healthcare institutions, We Care clinics, and 
    other faith-based organizations, our work improves public health, lowers healthcare costs 
    and reduces the burden of non-emergency care and the treatment of acute and chronic 
    diseases placed on local hospital emergency rooms.
</p>

<p>We are immigrants and we wanted to give back to the country that has given 
    us so much.
</p>