@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Admin Login";
}

<body>
    <img class="center-block"  src="~/ArtAssest/medical_medicine_cardiogram_heart_health_heart_care-512.png"/>
</body>
