@model clinicModel
    ViewBag.Title = "PatientSignUp";
}
<h2>Patient Sign up</h2>
<form method="post" action="PatientSignUp">
    <div>
        Firt Name:
        <input type="text" name="Fname" />
    </div>
    <div>
        Last Name:
        <input type="text" name="Lname" />
    </div>
    <div>
        Email Name:
        <input type="text" name="Email" />
    </div>
    <div>
        Street:
        <input type="text" name="street" />
    </div>
    <div>
        City:
        <input type="text" name="city" />
    </div>
    <div>
        State:
        <input type="text" name="state" />
    </div>
    <div>
        Zip:
        <input type="text" name="zip" />
    </div>
    <div>
        Phone Number:
        <input type="text" name="phone" />
    </div>

    <div>
        <input type="submit" name="Send" />
    </div>
</form>
