
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Signup</h2>

<body>Thank you for you @ViewBag.mess for using our service, we hope if have help you.
    Your information have been send to the clinics. We have also send you their information to your email.
    </body>